section.about-showcase{
	width: 100%;
	height: 50vh;
	background: url(../assets/about.jpeg) no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 10vh;
}

section.about-showcase div.about-showcase-content{
	background: rgba(0,0,0,.5);
	height: 100%;
	width: 100%;

	padding-top: 20vh;
}
section.about-showcase div.about-showcase-content h2{
	color: white;
	font-size: 40px;
	font-weight: bolder;
	font-family: ExtraBold;
	text-transform: uppercase;
}
section.about-showcase div.about-showcase-content div.underline{
	height: 6px;
	width: 60px;
	background: white;
	margin-top: 10px; 
}
.aboutprocess-grid{
	border-left: 3px solid #37abbd;
}


@media screen and (max-width: 768px){
	section.about-showcase{
		margin-top: 0px
	}
	section.about-showcase div.about-showcase-content h2{
		font-size: 25px;
	}
	section.about-showcase div.about-showcase-content div.underline{
		height: 4px;
		width: 40px;
	}
}