
section.contact-section{
	height: 100vh;
	width: 100%;
	top: 10vh;
	background: url(../assets/contact.jpeg);
	letter-spacing: 2px;
}

section.contact-section div.contact-overlay{
	background: #000;
	opacity: .5;
	height: 100vh;
	width: 100%;
	top: 10vh;
}

.contact-container{
	width: 90%;
}

section.contact-section div.contact-content{
	color: #fff;
	margin-top: 20vh;
	position: absolute;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}

form.contact-form{

}

.reach-to-us{
	
}

.socials{
	margin-top: 30px;
}
form.contact-form input, form.contact-form textarea{
	height: 50px;
	width: 80%;
	background: rgba(0,0,0,0.3);
	border: none;
	border-radius: 4px;
	outline: none;
	border-bottom: 1px solid white;
	margin: 10px 0px;
	font-size: 15px;
	color: white;
	letter-spacing: 2px;
	padding-left: 10px;
	transition: .6s;
}

form.contact-form input:hover, form.contact-form textarea:hover{
	background: rgba(0,0,0,0.7);
}

form.contact-form textarea{
	height: 60px
}

::-webkit-input-placeholder{
	color: #EAEAEA;
	letter-spacing: 2px;
}

section h2, section h3{
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;
}

#submit{
	height: 50px;
	width: 40%;
	background: #0078ff;
	border-radius: 4px;
	border: none;
	color: #fff;
	transition: .6s;
}
#submit:hover{
	background: #37abbd;
}

section.contact-section section.socials-contact li{
	list-style: none;
	margin: 10px 30px;
	font-size: 20px;
	padding: 8px 14px;
	color: #fff;
	border: 1px solid #87c0ff;
	border-radius: 50%;
	display: inline-block;
	transition: .5s;
}
section.contact-section section.socials-contact li#facebook{
		margin-left: 0px
}


section.contact-section section.socials-contact li:hover{
	color: #292929;
	border: 1px solid #292929;
	transition: .5s;
}
h2, h3{
	font-weight: lighter;
}

@media screen and (max-width: 768px){
	
	section.contact-section{
		position: relative;
		top: 0;
		height: 90vh;
		background-position: center;
	}
	section.contact-section div.contact-overlay{
		height: 90vh;
		top: 0;
	}

	section.contact-section div.contact-content{
	color: #fff;
	width: 70%;
	margin-top: 10%;
	position: absolute;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	}
	section.contact-section  section.socials-contact li{
	list-style: none;
	font-size: 15px;
	margin: 10px 5px;
	padding: 5px 10px;
	border-radius: 50%;
	display: inline-block;
	transition: .5s;
	}

	section.contact-section section.socials-contact li#facebook{
		margin-left: 0px;
	}	

	.reach-to-us h2{
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
	}
	form.contact-form input{
	height: 35px;
	width: 100%;
	border-bottom: 1px solid white;
	margin: 5px 0px;
	font-size: 12px;
	color: white;
	letter-spacing: 2px;
	border-radius: 2px;
	}

	form.contact-form textarea{
		width: 100%;
		font-size: 12px;
	}

	#submit{
		height: 40px;
		width: 100%;
		background: #0078ff;
		border-radius: 4px;
		border: none;
		color: #fff;
		transition: .6s;
	}
	.socials{
	width: 100%
	}
	.socials h3{
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
	}
}