
/*
Property of Boyespace 
*/
section.contact-section{
	height: 90vh;
	width: 100%;
	top: 10vh;
	background: url(../assets/contact.jpeg);
	letter-spacing: 2px;
}

section.contact-section div.contact-overlay{
	background: #000;
	opacity: .8;
	height: 90vh;
	width: 100%;
	top: 10vh;
}

.contact-container{
	width: 90%;
}

section.contact-section div.contact-content{
	color: #fff;
	margin-top: 10vh;
	position: absolute;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}

form.contact-form{

}

.reach-to-us{
	
}

.socials{
	margin-top: 30px;
}
form.contact-form input, form.contact-form textarea{
	height: 50px;
	width: 80%;
	background: rgba(0,0,0,0.3);
	border: none;
	border-radius: 4px;
	outline: none;
	border-bottom: 1px solid white;
	margin: 10px 0px;
	font-size: 15px;
	color: white;
	letter-spacing: 2px;
	padding-left: 10px;
	transition: .6s;
}

form.contact-form input:hover, form.contact-form textarea:hover{
	background: rgba(0,0,0,0.7);
}

form.contact-form textarea{
	height: 60px
}

::-webkit-input-placeholder{
	color: #EAEAEA;
	letter-spacing: 2px;
}

section h2, section h3{
	font-size: 20px;
	font-family: Extrabold;
	text-transform: uppercase;
}

#submit{
	height: 50px;
	width: 40%;
	background: #0078ff;
	border-radius: 4px;
	border: none;
	color: #fff;
	transition: .6s;
}
#submit:hover{
	background: #37abbd;
}
section .socials-contact{
	margin-top: 30px;
}

section.contact-section section.socials-contact li{
	list-style: none;
	margin: 10px 30px;
	font-size: 20px;
	padding: 8px 14px;
	color: #fff;
	border: 1px solid #87c0ff;
	border-radius: 50%;
	display: inline-block;
	transition: .5s;
}
section.contact-section section.socials-contact li#facebook{
		margin-left: 0px
}


section.contact-section section.socials-contact li:hover{
	color: #292929;
	border: 1px solid #292929;
	transition: .5s;
}
h2, h3{
	font-weight: lighter;
}

footer.contact-info{
	height: 10vh;
	width: 100%;
	background: #0078ff;
	padding: 0;
	overflow: hidden;
	transition: .5s;
}
footer.contact-info:hover{
	background: #37abbd;
	color: #f9f9f9;
}

footer.contact-info ul li{
	list-style: none;
	margin: 0;
	font-size: 25px;
	color: #fff;
	border: none;
	display: inline-block;
	transition: .5s;
	margin-top: 5vh;
	transform: translateY(-50%);
}
footer.contact-info ul li.contact-icon{
	margin-right: 10px
}
footer.contact-info ul li#phone{
	margin-left: 10%;
}
footer.contact-info ul li#phone-no{
	margin-right: 10%;
}

footer.contact-info ul li p{
	font-size: 14px;
}

/*
Property of Boyespace 
*/

@media screen and (max-width: 980px){
	
	section.contact-section{
		position: relative;
		top: 0;
		height: 90vh;
		background-position: center;
	}
	section.contact-section div.contact-overlay{
		height: 90vh;
		top: 0;
	}

	section.contact-section div.contact-content{
	color: #fff;
	width: 70%;
	margin-top: 0;
	position: absolute;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	}

	section h3, section h2{
		font-size: 18px;
	}

	section .socials-contact{
		margin-top: 30px;
	}

	section.contact-section  section.socials-contact li{
	list-style: none;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px 10px;
	border-radius: 50%;
	display: inline-block;
	transition: .5s;
	}

	section.contact-section section.socials-contact li#facebook{
		margin-left: 0;
	}	

	form.contact-form input{
	height: 45px;
	width: 100%;
	border-bottom: 1px solid white;
	margin: 5px 0px;
	font-size: 12px;
	color: white;
	letter-spacing: 2px;
	border-radius: 2px;
	}

	form.contact-form textarea{
		width: 100%;
		font-size: 12px;
	}

	#submit{
		height: 45px;
		width: 100%;
		background: #0078ff;
		border-radius: 4px;
		border: none;
		color: #fff;
		transition: .6s;
	}
	.socials{
	width: 100%
	}
	.socials h3{
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
	}

	footer.contact-info{
		height: 100%;
		padding: 20px 0px;
	}
	footer.contact-info ul li{
		list-style: all;
	}
	footer.contact-info ul li{
		transform: translateY(0);
		margin: 0
	}
	footer.contact-info ul li.contact-icon{
		margin-right: 0;
		width: 100%;
		font-size: 20px;
	}
	footer.contact-info ul li#phone{
		margin-left: 0;
	}
	footer.contact-info ul li#phone-no{
		margin-right: 0%;
	}
	footer.contact-info ul li.contact-detail{
		margin-bottom: 15px;
	}
	footer.contact-info ul li#email{
		margin-bottom: 0;
	}
	footer.contact-info ul li p{
		font-size: 12px;
	}

}

@media screen and (max-width: 450px){
	section.contact-section div.contact-content{
		padding-top: 30%;
	}
}