@font-face{
	font-family: ExtraLight;
	src: url(../fonts/Raleway-ExtraLight.ttf);
}
@font-face{
	font-family: ExtraBold;
	src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face{
	font-family: Raleway;
	src: url(../fonts/Raleway-Regular.ttf);
}

.container {
	width: 80%;
  	margin: auto;
  	overflow: hidden;
}

body{
	font-family: Raleway;
	letter-spacing: 2px;
}

nav.topnav{
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	position: absolute;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .3s;
	background: #f9f9f9;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	transition: .6s;
}

nav.fixed{
	position: fixed;
	z-index: 10;
	background: white;
}

nav.topnav .branding{
	float: left;
	color: #fff;
	letter-spacing: 2px;
}
.branding a{
	color: #000;
	transition: .6s;
}
.branding a:hover{
	color: gray;
	text-decoration: none;
}


.branding #highlight{
	font-family: ExtraLight;
}
.branding #boldhighlight{
	font-family: ExtraBold;
}

nav.topnav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav.topnav ul li{
	list-style: none;
}

nav.topnav ul li a {
	line-height: 50px;
	color: grey;
	margin: 12px 15px;
	padding-bottom: 12px;
	font-size: 12px;
	transition: .3s;
	letter-spacing: 2px;
}

nav.topnav ul li.current a{
	color: black;
	font-weight: bolder;
	transition: .6s;
	border-bottom: 1.3px solid black;
}
nav.topnav ul li.current{

}
nav.topnav ul li.current a:hover{
	color: grey;
	font-weight: lighter;
	border-bottom: 1.3px solid grey;
}


nav.topnav ul li a:hover{
	font-weight: bold;
	color: black;
	text-decoration: none;
}

//mobile



nav.mobilenav{
	top: 100px;
	left: 0;
	width: 100%;
	height: 10vh;
	position: fixed;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .3s;
	background: white;
}

nav.mobilenav .icon{
	float: right;
	padding-top: 25px;
	color: grey;
}

nav.mobilenav ul{
	list-style: none;
	padding-left: 0;
	background: white;
	padding-top: 20px;
	float: left;
	width: 70%
}
nav.mobilenav ul li{
	list-style: none;
}

nav.mobilenav ul li a {
	line-height: 30px;
	color: grey;
	padding: 5px 0px;
	font-size: 12px;
	transition: .6s;
	letter-spacing: 2px;
}
nav.mobilenav ul li a:hover{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

nav.mobilenav ul li.nav-item-mobile{
	display: none;
}
nav.mobilenav ul li div.branding a{
	color: black;
}
nav.mobilenav{
	display: none;
}

.scroll-line{
	height: 2px;
	margin-bottom: -2px;
	background: #000;
	width: 100%;
}

section.showcase{
	background: url(../assets/top.jpeg) no-repeat;
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	color: #fff;
	margin-top: 10vh;
	position: relative;
}

slider {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

slider > * {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	animation: slide 12s infinite;
	overflow: hidden;
}

slider p {
	color: white;
	font-size: 40px;
	font-weight: bolder;
	position: absolute;
	font-family: ExtraBold;
	text-transform: uppercase;
	letter-spacing: 2px;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

slide:nth-child(1){
	left: 0%;
	animation-delay: -1s;
	background-image: url(../assets/design.jpeg);
	background-size: cover;
	background-position: center;
}

slide:nth-child(2){
	animation-delay: 2s;
	background-image: url(../assets/slide2.jpeg);
	background-size: cover;
	background-position: center;
}
slide:nth-child(3){
	animation-delay: 5s;
	background-image: url(../assets/slide3.jpeg);
	background-size: cover;
	background-position: center;
}
slide:nth-child(4){
	left: 0%;
	animation-delay: 8s;
	background-image: url(../assets/timely.jpeg);
	background-size: cover;
	background-position: center;
}

@keyframes slide {
	0% { left: 100%; width: 100%; }
	5% { left: 0%; }
	25% { left: 0%; }
	30% { left: -100%; width: 100%; }
	30.0001% { left: -100%; width: 0%; }
	100% {left: 100%; width: 0%; }
}
section.showcase div.filmOverlay{
	background: black;
	width: 100%;
	height: 80vh;
	opacity: .3;
	top: 0;
	position: absolute;
}


section#homeshowcase button{
	letter-spacing: 2px;
	margin-top: 35vh;
	margin-left: 45vw;
	height: 50px;
	width: 180px;
	background: #0078ff;
	border-radius: 4px;
	border: none;
	color: #fff;
	transition: .6s;
	font-size: 15px;
	position: absolute;
}
section#homeshowcase button:hover{
	background: #37abbd;
}

section h3{
	font-size: 20px;
	text-transform: uppercase;
	font-family: ExtraBold;
}

section.services{
	padding-top: 20px;
	background: #f9f9f9;
	padding-bottom: 30px;
}

.topic{
	text-align: center;
}
.blackline{
	margin-left: 50%;
	background: black;
	width: 30px;
	height: 2px;
	margin-bottom: 40px;
	transform: translateX(-50%);
}

.closegrids{
	width: 100%
}

#grids {
  margin-top: 20px;
}

 .grid{
	width: 30%;
	letter-spacing: 1px;
	float: left;
	text-align: justify;
	background: white;
	margin: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	transition: .6s;
}
.grid div.top-image{
	width: 100%;
	height: 40px;
}

.grid div.top-image #web-img{
	background: url(../assets/web.jpg);
}
 .grid div.grid-text{
 	padding: 20px;
 }

.grid:hover{
	box-shadow: 4px 5px 6px rgba(0,0,0,.1);
}

.service-image{
	height: 25px;
	width: 25px
}
.servicename{
	text-transform: uppercase;
	padding-top: 20px;
	font-size: 15px;
	font-weight: bold;
}

.servicedesc{
	color: #88888c;
	text-align: justify-all;
	font-size: 14px;
	line-height: 30px;
}
.grid a{
	font-size: 14px;
}

#servicesdetails{
	text-align: center;
}

#about {
	padding-top: 20px;
	text-align: center;
	background: #ececec;
	padding-bottom: 20px;
}

#about .container{
	letter-spacing: 1px;
	font-size: 14px;
	text-align: justify;
}

#aboutline{
	margin-bottom: 10px
}

section.socials{
	text-align: center;
	padding-top: 20px;
	padding-top: 20px;
}
section.socials li{
	list-style: none;
	margin: 10px 30px;
	font-size: 20px;
	padding: 8px 14px;
	border-radius: 50%;
	display: inline-block;
	transition: .5s;
}
section.socials li#facebook{
		margin-left: 0px;
		color: #4c69c7;
		border: 1px solid #4c69c7;
}

section.socials li#twitter{
	color: #2abeeb;
	border: 1px solid #2abeeb;
}

section.socials li#instagram{
	color: #e316a6;
	border: 1px solid #e316a6;
}

section.socials li#linkedin{
	color: #007bc7;
	border: 1px solid #007bc7;
}

section.socials li#facebook:hover,section.socials li#twitter:hover,
section.socials li#instagram:hover,section.socials li#linkedin:hover{
	color: #292929;
	border: 1px solid #292929;
	transition: .5s;
}


footer {
	background-color: #3c3c3c;
	color: white;
	padding-top: 25px;
	text-align: center;
	font-size: 15px;
}


@media screen and (max-width: 768px){

	nav.mobilenav{
		display: block;

	}
	nav.topnav{
		display: none;
	}

	section.showcase{
		background: url(../assets/top.jpeg) no-repeat;
		height: 60vh;
		width: 100%;
		background-size: cover;
		background-position: center;
		color: #fff;
		margin-top: 0;
	}
	slider p{
		font-size: 25px;
		width: 100%;
		text-align: center;
	}
	section.showcase div.filmOverlay{
		height: 60vh;
		width: 100%;
	}
	section#homeshowcase button{
		margin-top: 25vh;
		margin-left: 30vw;
		width: 150px;
		height: 40px;
		font-size: 12px
	}
	.branding h1{
		font-size: 25px;
	}
	section h3{
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
	}

	section#about p.servicedesc{
		font-size: 12px;
		text-align: justify;
	}

	.blackline{
		height: 1px;
	}
	.grid{
		width: 100%;
		float: none;
		margin-top: 20px;
	}
	.grid .servicename{
		font-size: 13px;
	}
	.grid p, .grid a{
		font-size: 12px;
	}


	section.socials li{
	list-style: none;
	font-size: 15px;
	margin: 10px 5px;
	padding: 5px 9px;
	border-radius: 50%;
	display: inline-block;
	transition: .5s;
	}

	section.socials li#facebook{
		margin-left: 0px;
	}

	footer{
		font-size: 12px;
	}
}


