

section.services{
	width: 100%;
	margin-top: 7vh;
	background: #f8f8f8;
}
section.services div.services-grid{
	width: 25%;
	float: left;
	text-align: center;
	color: white;
	position: relative;
}

section.services div.web-services{
	background: url(../assets/newweb.jpg);
	background-size: cover;
	background-position: center;
}
section.services div.mobile-services{
	background: url(../assets/newmobile.jpg);
	background-size: cover;
	background-position: center;
}
section.services div.seo-services{
	background: url(../assets/seo.jpeg);
	background-size: cover;
	background-position: center;
}
section.services div.design-services{
	background: url(../assets/design.jpeg);
	background-size: cover;
	background-position: center;
}

section.services div.services-grid div.filmOver{
	width: 100%;
	height: 100%;
	background: black;
	opacity: .7;	
	margin: 0;
	display: none;
}
section.services div.services-grid div.services-content{
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	background: rgba(0,0,0,0.7);
}

section.services div.services-grid button{
	width: 70%;
	border: none;
	padding-top: 10px;
	padding-bottom: 0;
	background: none;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	transition: .6s;
}

section.services div.services-grid button:hover{
	background: #0078ff;
	border: 1px solid #0078ff;
}

section.services div.services-grid h2{
	font-size: 20px;
	text-transform: uppercase;
	font-family: ExtraBold;
}
section.services div.services-grid p{
	font-size: 12px;
}
section.services div.services-grid p.services-content-desc{
	line-height: 20px;
	margin-top: 20px;
	font-weight: normal;
}

section.services div.services-grid div.more-text{
	display: none;
}
section.services div.services-grid button .less{
	display: none;
}


@media screen and (max-width: 768px){
	section.services{
		width: 100%;
		margin-top: 0px;
		top: 0;
	}
	section.services div.services-grid{
		float: none;
		width: 100%;
		margin: 0;
	}
	section.services div.services-grid button{
		width: 60%;
		align-self: center;
	}
}