

section.services{
	width: 100%;
	margin-top: 7vh;
	background: #f8f8f8;
}
section.services div.services-grid{
	width: 25%;
	float: left;
	text-align: center;
}

section.services div.web-services{
	background: #a7a7f8;
}
section.services div.mobile-services{
	background: #24e4e4;
}
section.services div.seo-services{
	background: #6BD6EB
}

section.services div.services-grid button{
	width: 100%;
	border: none;
	padding-top: 10px;
}

section.services div.services-grid div.more-text{
	display: none;
}
section.services div.services-grid button .less{
	display: none;
}



@media screen and (max-width: 768px){
	section.services{
		width: 100%;
		margin-top: 0px;
	}
	section.services div.services-grid{
		float: none;
		width: 100%;
		margin: 0;
	}
}