/*
Property of Boyespace 
*/
body{
	background: #f9f9f9;
}

nav{
	background: white;
}

section.services{
	width: 100%;
	margin-top: 6vh;
	background: #f8f8f8;
}
section.services div.services-grid{
	width: 25%;
	float: left;
	text-align: center;
	color: white;
	position: relative;

}

section.services div.web-services{
	background: url(../assets/newweb.jpg);
	background-size: cover;
	background-position: center;
	border-bottom: 4px solid #0078ff;
}
section.services div.mobile-services{
	background: url(../assets/newmobile.jpg);
	background-size: cover;
	background-position: center;
	border-bottom: 4px solid #16aae3;
}
section.services div.seo-services{
	background: url(../assets/seo.jpeg);
	background-size: cover;
	background-position: center;
	border-bottom: 4px solid #16c7c7;
}
section.services div.design-services{
	background: url(../assets/design.jpeg);
	background-size: cover;
	background-position: center;
	border-bottom: 4px solid #16e3a1;
}

section.services div.services-grid div.services-content{
	width: 100%;
	height: 100%;
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	background: rgba(0,0,0,0.7);
	transition: .6s;
}
section.services div.services-grid div.services-content:hover{
	background: rgba(0,0,0,0.9);
}
section.services div.services-grid:hover{
	border-bottom: 5px solid #e4e4e4;
}



section.services div.services-grid button{
	width: 70%;
	border: none;
	padding-top: 10px;
	padding-bottom: 0;
	background: none;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	transition: .6s;
	cursor: pointer;
}

section.services div.services-grid button:hover{
	background: #0078ff;
	border: 1px solid #0078ff;
}

section.services div.services-grid h2{
	font-size: 20px;
	text-transform: uppercase;
	font-family: ExtraBold;
}
section.services div.services-grid p{
	font-size: 12px;
}
section.services div.services-grid p.services-content-desc{
	line-height: 20px;
	margin-top: 20px;
	font-weight: normal;
	text-align: justify;
}

section.services div.services-grid div.more-text{
	display: none;
}
section.services div.services-grid button .less{
	display: none;
}

section.content-servicepage{
	padding-top: 300px;
	padding-bottom: 60px;
	background: white;
}
section.content-servicepage p{
	color: #88888c;
	text-align: justify-all;
	font-size: 14px;
	line-height: 30px;
}
.services-content-list{
	width: 100%;
}
.services-content-list div.services-content-image{
	width: 50%;
	float: left;
	background: url(../assets/workservice.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0;
}
.services-content-list div.services-content-image div.services-content-image-overlay{
	background: rgba(0,0,0,.5);
	height: 100%;
	transition: .6s;
	margin: 0;
}
.services-content-list div.services-content-image div.services-content-image-overlay:hover{
	background: rgba(0,0,0,.8);
}
.services-content-list div.services-content-image ul{
	opacity: 0;
}
.services-content-list div.services-content-ul{
	width: 50%;
	float: right;
	background: #ececec;
}
.services-content-list ul{
	list-style: none;
	padding: 10%;
	padding-bottom: 10px;
}
.services-content-list ul p{
	line-height: 20px;
	color: #0e0e0e;
}

div.reach-us-form {
	background: #000;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	height: 500px;
}
div.reach-us-form h5{
	font-size: 15px;
	text-align: center;
	line-height: 30px;
}
div.reach-us-form div.service-form{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background: white;
	padding-top: 60px;
	padding-bottom: 30px;
	padding-left: 10%;
	padding-right: 10%;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
	transition: .6s;
}
div.reach-us-form div.service-form:hover{
	box-shadow: 0 4px 6px rgba(0,0,0,.1);
}
div.reach-us-form div.service-form *{
	width: 100%;
	color: black;
	margin-bottom: 20px;
}
div.reach-us-form div.service-form input, div.reach-us-form div.service-form select{
	height: 50px;
	
}
div.reach-us-form div.service-form input{
	border:none;
	padding-left: 20px;
	padding-right: 20px;
	outline: none;
	font-size: 15px;
	margin-bottom: 30px;
	border-radius: 4px;
	background-color: #f9f9f9;
	border-left: 3px solid #37abbd;
	transition: .6s
}
div.reach-us-form div.service-form input:hover{
	background-color: #f3f3f3;
	border-left: 3px solid #0078ff;
}

::-webkit-input-placeholder{
	color: #aaaaaa;
	letter-spacing: 2px;
}
div.reach-us-form div.service-form select{
	padding: 10px;
	border-radius: 4px;
	transition: .6s;
	outline: none;
	letter-spacing: 2px;
}
div.reach-us-form div.service-form select:hover{
	background: #88888c;
	border: none;
	color: white;
}
div.reach-us-form div.service-form select option{
	margin-top: 10px;
}
div.reach-us-form div.service-form input.submit{
	border-radius: 4px;
	background: #37abbd;
	color: white;
	transition: .6s;
	width: 40%;
	height: 50px;
	font-size: 15px;
	border: none;
	margin-bottom: 0;
	cursor: pointer;
	letter-spacing: 2px;
}
div.reach-us-form div.service-form input.submit:hover{
	background: #0078ff;
}


section.socials{
	margin-top: 300px;
}



/*
Property of Boyespace 
*/
@media screen and (max-width: 980px){
	section.services{
		width: 100%;
		margin-top: 9vh;
		top: 0;
		padding-top: 0;
		padding-bottom: 0px;
	}

	section.services div.services-grid{
		float: none;
		width: 100%;
		margin: 0;
		overflow: hidden;
	}
	section.services div.services-grid div.services-content{
		padding-top: 50px;
		padding-bottom: 40px;
		padding-left: 15%;
		padding-right: 15%;
	}
	section.services div.services-grid button{
		width: 60%;
		align-self: center;
	}
	section.content-servicepage{
		padding-top: 60px;
	}
	section.content-servicepage p.servicedesc{
		font-size: 12px;
		text-align: justify;
	}
	.services-content-list div.services-content-image{
		width: 100%;
		height: 150px;
		float: none;
		margin-bottom: 0px;
	}
	.services-content-list div.services-content-ul{
		width: 100%;
		float: none;
	}
	.services-content-list div.services-content-ul ul p{
		font-size: 12px;
		text-align: center;
	}

	div.reach-us-form{
		height: 600px;
	}
	div.reach-us-form h5{
		font-size: 12px;
		text-align: justify;
	}
	div.reach-us-form div.service-form{
		width: 100%;
		margin-left: 1%;
		margin-right: 2%;
		margin-bottom: 40px;
	}
	div.reach-us-form div.service-form input, div.reach-us-form div.service-form select{
		height: 40px;
	}
	div.reach-us-form div.service-form input{
		font-size: 12px;
		padding-left: 13px;
		padding-right: 13px;
	}

	div.reach-us-form div.service-form select{
		font-size: 14px;
	}

	div.reach-us-form div.service-form input.submit{
		width: 100%;
		height: 40px;
		font-size: 15px;
	}


}

@media screen and (max-width: 600px){
	section.services div.services-grid div.services-content{
		padding-top: 50px;
		padding-bottom: 40px;
		padding-left: 10%;
		padding-right: 10%;
	}
}